@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

h1 {
    color: #DD3C13;
}

.home-page-img {
    width: 50%;
    border: solid #DD3C13 1px;
    border-radius: 10px;
}
.card {
    background: #f1f1f1
}

ol li::marker {
    color: #DD3C13;
}